<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand" ><%= link_to 'GymTime', root_path %></p>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">    
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to current_user ? "Logged in as: #{current_user.username}" : "(not logged in)", workouts_path %></li>
        <li><%= link_to 'Logout', authenticates_path, {method: :delete} %></li>
      </ul>
    </div>
  </div>
</nav>