<%= render partial: 'nav' %>
<div class="workout">
	<h2>Edit Workout</h2>
	<%= render partial: 'form' %>
	<br>
	<p><%= link_to "Delete Workout", @workout,{method: :delete} %>&nbsp;&nbsp;&nbsp;<%= link_to "Go Back", workouts_path %></p>
</div>
