<%= render partial: 'nav' %>
<br>

<div id="calendar">
<h3 id="month"><%= @date.strftime("%B %Y") %></h3>
  <p><%= link_to "Create A New Workout", new_workout_path, :class=>"btn btn-default btn-xs" %></p>
  <% @workouts.each do |workout| %> 
    <p><%= link_to workout.body_part, workout %></p>
  <% end %>
</div> 