<%= render partial: 'nav' %>
<br>

<div id="calendar">
  <p><%= link_to "Create A New Workout", new_workout_path %></p>
  <% @workouts.each do |workout| %> 
    <p><%= link_to workout.body_part, workout %></p>
  <% end %>
</div> 