<%= render partial: 'nav' %>
<div id="calendar">
 <p><%= link_to "Create A New Workout", new_workout_path, :class=>"btn btn-primary btn-xs" %></p>
	 <p class="notice"><%= flash[:notice] %><%= flash[:error] %></p>
	
</div> 

<script> $(document).ready(function() {
    $('#calendar').fullCalendar({
        aspectRatio: 1.8,
        events: 'workouts.json'
    })
});
</script>