<div id="top"></div>
	<div id="login">
		<h1>GymTime</h1>
		<h5>Your Own Personal Workout Calendar</h5><br>
	  <button type="button" class="btn btn-default btn-lg">Log-In</button>
	  <button type="button" class="btn btn-default btn-lg">Sign-Up</button>
	</div>
<div id="bottom">
	<div id="wrapper">
		<div class="info">
			<h3>Schedule Workouts</h3> 
			<p><img src="http://bootcamp.freestyler.net/images/upogib-komolca-zadaj-na-klopi-z-rockami-200x175.jpg" alt=""></p>
		</div>
		<div class="info">
			<h3>Search Exercises</h3>
			<p><img src="http://bootcamp.freestyler.net/images/upogib-komolca-zadaj-na-klopi-z-rockami-200x175.jpg" alt=""></p>
		</div>
		<div class="info">
			<h3>Edit Training Program</h3>
			<p><img src="http://bootcamp.freestyler.net/images/upogib-komolca-zadaj-na-klopi-z-rockami-200x175.jpg" alt=""></p>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
