<div id="top">
	<div id="login">
		<h1>GymTime</h1>
		<h4>Create Your Very Own Personal Workout Calendar</h4><br>
	  <button type="button" class="btn btn-default btn-lg btn-block">Log-In</button>
	  <button type="button" class="btn btn-default btn-lg btn-block">Sign-Up. It's Free!</button>
	</div>
</div>
<div id="bottom">
	<div id="wrapper">
		<div class="info">
			<h3>Schedule Workouts</h3> 
			<p><img src="http://bootcamp.freestyler.net/images/upogib-komolca-zadaj-na-klopi-z-rockami-200x175.jpg" alt=""></p>
		</div>
		<div class="info">
			<h3>Add Exercises</h3>
			<p><img src="http://bootcamp.freestyler.net/images/upogib-komolca-zadaj-na-klopi-z-rockami-200x175.jpg" alt=""></p>
		</div>
		<div class="info">
			<h3>Edit Training Program</h3>
			<p><img src="http://bootcamp.freestyler.net/images/upogib-komolca-zadaj-na-klopi-z-rockami-200x175.jpg" alt=""></p>
		</div>
	</div>
</div>
