/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.datepicker
 *= require fullcalendar
 *= require_self
 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Audiowide);

.login {
	margin: 50px auto;
	width: 30%;
	height: 100%;
	background-color: #000;	
	color: #FFF;
	text-align: center;
	padding: 10px;
	box-shadow: 3px 3px 2px #000;
	border-radius: 10px;
	border: 1px solid #777777;
}

