// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.entry{
	margin: 40px auto;
	width: 60%;
	height: 100%;
	background-color: #000;	
	color: #FFF;
	text-align: center;
	padding: 0 10px 10px 10px;
	box-shadow: 3px 3px 2px #000;
	border-radius: 10px;
	border: 1px solid #777777;
	font-size: 12px;
}

.textbox {
	color: #000;
}

.entries {
	text-align: left;
	padding: 10px;
	min-height: 400px;

	a{
		color: #FFF;
	}
}

table {
	margin: 0 auto;
}

#log {
	margin: 0 auto;
  color: #000;
  text-align: center;

  th {
  	background-color: #888888;
  	color: #FFF;
  	text-align: center;
  	border: none;
  	font-size: 15px;
  	padding: 8px 12px;
  	border: 1px solid #000;
  }

  td {
  	background-color: #FFF;
  	font-size: 14px;
  	border: 1px solid #888888;
  	padding: 7px 10px;
  	color: #000056;
  }
}