// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.entry {
	margin: 30px auto;
	width: 50%;
	height: 100%;
	background-color: #000;	
	color: #FFF;
	text-align: center;
	padding: 0 10px 10px 10px;
	box-shadow: 3px 3px 2px #000;
	border-radius: 10px;
	border: 1px solid #777777;
}

.textbox {
	color: #000;
}

.entries {
	text-align: left;

	a{
		color: #FFF;
	}
}
