// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

html, body {
	margin: 0;
	font-family: 'Audiowide', cursive;
}

#top {
	background-image: url("barbell.jpg");
	background-repeat: no-repeat;
	background-size: 98% 105% ;
	background-position: center;
	background-color: #000000;
	top: 0;
	height: 62%;
	width: 100%;
	position: absolute;
}

img {
	border-radius:10px;
}

#bottom {
	background-color: #000;
	bottom: 0;
	height: 38%;
	width: 100%;
	position: absolute;
}

#login {
	height: 320px;
	width: 300px;
	position: absolute;
	margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.7);
	box-shadow: 5px 5px 5px #000;
	text-shadow: 1px 1px 1px #000;
	z-index: 1;
	color: #FFF;
	border-radius: 10px;
	border: 1px solid #777;
	text-align: center;
	padding: 15px;
}

.info {
	width: 33%;
	float: left;
	margin: 0 auto;
	text-align: center;
	color: #FFF;
	font-size: 10px;
}

#wrapper {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

#month {
	text-align: center;
	color: #000;
}

.btn {
	margin-bottom: 15px;
	text-shadow: none;
}

