// Place all the styles related to the workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
	margin: 0;
	padding: 0;
	background-image: url('stone.jpg');
	background-size:cover;
	color: white;
}

.navbar {
	background: #000;
	color: #FFF;
	border: none;
	height: 50px;
	padding: 0 10px 0 85px;
	box-shadow: 2px 2px 2px #000;
}

.navbar-brand {
	padding: 1px 0px;
}

.navbar-brand > img {
	height: 45px;
	width: 150px;
}

.navbar .navbar-header > p >a {
	color: #FFF;
	font-size: 30px;
	text-decoration: none;
}

.navbar .nav > li > a {
	color: #FFF;
	font-size: 12px;	
	text-decoration: none;
	padding-left: 10px;
}

.navbar .nav > li > a:hover {
	color: #777777;
}

.dropdown-menu {
	background-color: #000;	
	text-align: center;
}

.dropdown-menu > li > a{
	color: #FFF;
	background-color: #000;	
	font-size: 12px;
}

.dropdown-menu > li > a:hover {
	background-color: #000;
	color: #666666;
	font-size: 12px;
}

input {
	color: #000;
	text-align: center;
}

.workout {
	margin: 50px auto;
	width: 40%;
	height: 100%;
	background-color: #000;	
	color: #FFF;
	text-align: center;
	padding: 10px;
	box-shadow: 3px 3px 2px #000;
	border-radius: 10px;
	border: 1px solid #777777;
}

a {
	color: #83a2d7;
	text-decoration: none;
}

#calendar {
	margin: 0 auto;	
	width: 65%;
	background-color: #FFF;
	padding: 20px 25px 0 25px;
	border-radius: 10px;
	border: 2px solid #464748;
	box-shadow: 3px 3px 5px #000;
	text-align: center;
	float: left;
}

.notice, .error {
	text-align: center;
	color:#419f34;
}

.btn-primary {
	background-color: #000056;
	border: none;
	box-shadow: 1px 1px 1px #000;
}

.btn-primary:hover {
	background-color: #4b4b4b;
	border: none;
	box-shadow: 1px 1px 3px #000;
}

#journal:hover {
	background-color: #000056;
	border: none;
	box-shadow: 1px 1px 3px #000;
}

.btn-danger > a, .btn-success > a {
	color: #FFF;
}

#journal{
	background-color: #4b4b4b;
	color: #FFF;
	box-shadow: 1px 1px 1px #000;
	border: none;
}

#upcoming {
  float: left;
  margin: 20px 40px;
}

#upcoming > table {
  background-color: #FFF; 
  box-shadow: 2px 2px 5px #000; 
  width: 250px; 
  height: 100%;
  color: #000;
  text-align: center;
  margin-bottom: 20px;

  th {
  	background-color: #000056;
  	color: #FFF;
  	text-align: center;
  	border: none;
  	font-size: 15px;
  	padding: 8px 15px;
  }

  td {
  	height: 100%;
  	width: 100%;	
  	font-size: 14px;
  	border: 1px solid #000056;
  	padding: 15px;
  	color: #000056;
  }
}

th {
	background-color: #000;
	color: #FFF;
}

.options * {
	padding-right: 15px;
	padding-left: 5px;
	display: inline;
}

.exercises {
	margin: 30px auto;
	width: 80%;
	height: 100%;
	color: #FFF;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #777777;
}
