// Place all the styles related to the workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
	margin: 0;
	padding: 0;
	background-image: url('bg.jpg');
	background-size:cover;
	color: white;
}

.navbar {
	background: #232323;
	color: #FFF;
	border: none;
	padding: 0 40px;
	box-shadow: 2px 2px 2px #000;
}

.navbar .navbar-header > p >a {
	color: #FFF;
	font-size: 30px;
	text-decoration: none;
	text-shadow: 2px 2px 2px #000;
}

.navbar .nav > li > a {
	color: #FFF;
	font-size: 12px;
	text-decoration: none;
}

.navbar .nav > li > a:hover {
	color: #777777;
}

input {
	color: #000;
	text-align: center;
}

.workout {
	margin: 100px auto;
	width: 400px;
	height: 400px;
	background-color: #000;	
	color: #FFF;
	text-align: center;
	padding: 10px;
	box-shadow: 3px 3px 2px #000;
	border-radius: 10px;
	border: 1px solid #777777;
}

a {
	color: #777777;
	text-decoration: none;
}

#calendar {
	margin: 0 auto;	
	width: 70%;
	height: 600px;
	background-color: #FFF;
	padding: 10px 30px;
	border-radius: 10px;
	box-shadow: 3px 3px 2px #000;
}

.notice, .error {
	text-align: center;
	color:#419f34;
}

.btn-primary {
	background-color: #000;
	border: none;
	box-shadow: 1px 1px 3px #000;
}