<div class="newexercise">
	<h2>Edit Exercise</h2>
	<%= render partial: 'form' %>
	<span class="btn btn-danger" ><%= link_to "Delete Exercise", @exercise, {method: :delete, confirm: "Are You Sure You Want To Delete This Exercise?"} %></span>
	<span class="btn btn-default"><%= link_to "Go Back", exercises_path %></span>
</div>