<div class="exercise">
	<h3>Manage Exercises</h3>
	<p class="notice"><%= flash[:notice] %></p>
	<div class="entries">
		<% @exercises.each do |exercise| %>
			<p>
			<%= link_to exercise.name, exercise %>
			</p>
		<% end %>
	</div>
	<br><br>
  <%= link_to "Add New Exercise", new_exercise_path, :class=>"btn btn-primary btn-xs", :id=>"journal" %>
  <br>
  <%= link_to "Back to Workouts Calendar", workouts_path %>
</div>